$background: #252525;
$primaryColor: #EDEDED;
$secundaryColor: #FF0000;
$tertiaryColor: #444444;

@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/IBMPlexMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/Prompt-Regular.ttf") format("truetype");
}

html {
    height: 100%;
    width: 100%;
    @include padding(1rem);
    scroll-behavior: smooth;
}

body {
    @include font-size(1rem);
    @include margin-bottom(1rem);
    font-family: "Prompt", sans-serif;
    background-color: $background;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    @include margin-bottom(5vh);
    @include margin-top(5vh);
    height: 90vh;
}

#nav-links {
    position: fixed;
    padding-top: 20px;
    background-color: $background;
    z-index: 999;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links-with-shadows {
    box-shadow: -2px -2px 14px 0px rgb(0 0 0);
    -webkit-box-shadow: -2px -2px 14px 0px rgb(0 0 0);
    -moz-box-shadow: -2px -2px 14px 0px rgb(0 0 0);
}

hr {
    @include margin-bottom(10px);
    border: 1px dashed $tertiaryColor;
}

.col-sm-12,
.col-md-10,
.col-lg-8 {
    @include padding-left(5px);
    @include padding-right(5px);
}

footer {
    @include margin-bottom(5vh);

    & p {
        margin: 0;
    }
}