.icon-javascript, 
.icon-mongodb, 
.icon-jenkins, 
.icon-angularjs, 
.icon-nodejs, 
.icon-npm, 
.icon-postgreesql, 
.icon-docker, 
.icon-html-5, 
.icon-css3, 
.icon-git, 
.icon-linkedin, 
.icon-linux, 
.icon-console, 
.icon-api-settings, 
.icon-cloud-connection, 
.icon-sql, 
.icon-mysql, 
.icon-sprint-iteration, 
.icon-ionic, 
.icon-github, 
.icon-repository, 
.icon-pdf, 
.icon-webpack, 
.icon-sass, 
.icon-bootstrap
 {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    fill: currentColor;
    vertical-align: middle;
}

.icon-javascript>svg, 
.icon-mongodb>svg, 
.icon-jenkins>svg, 
.icon-angularjs>svg, 
.icon-nodejs>svg, 
.icon-npm>svg, 
.icon-postgreesql>svg, 
.icon-docker>svg, 
.icon-html-5>svg, 
.icon-css3>svg, 
.icon-git>svg, 
.icon-linkedin>svg, 
.icon-linux>svg, 
.icon-console>svg, 
.icon-api-settings>svg, 
.icon-cloud-connection>svg, 
.icon-sql>svg, 
.icon-mysql>svg, 
.icon-sprint-iteration>svg, 
.icon-ionic>svg, 
.icon-github>svg, 
.icon-repository>svg, 
.icon-pdf>svg, 
.icon-webpack>svg, 
.icon-sass>svg, 
.icon-bootstrap>svg
 {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    fill: currentColor;
    vertical-align: middle;
}

