#avatar {
    @include margin-bottom(1rem);
    @include border-radius(4px);
}

@media only screen and (max-width: 600px) {
    #avatar {
        max-width: auto;
    }
}

@media only screen and (min-width: 600px) {
    #avatar {
        max-width: 400px;
    }
}

.img-thumbnail {
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    padding: 0;
    @include border-radius(5%);
    max-width: 4vw;
    min-width: 75px;
    @include margin(auto 10px auto 0);
    height: auto;
}
