#avatar {
    @include margin-bottom(1rem);
    @include border-radius(70px);
    box-shadow: 13px 12px 25px -10px rgba(236,219,186,0.75);
    -webkit-box-shadow: 13px 12px 25px -10px rgba(236,219,186,0.75);
    -moz-box-shadow: 13px 12px 25px -10px rgba(236,219,186,0.75);
}

@media only screen and (max-width: 600px) {
    #avatar {
        max-width: auto;
    }
}

@media only screen and (min-width: 600px) {
    #avatar {
        max-width: 400px;
    }
}

.img-thumbnail {
    display: flex;
    align-content: center;
    justify-content: center;
    border: none;
    padding: 0;
    @include border-radius(5%);
    max-width: 4vw;
    min-width: 85px;
    @include margin(auto 10px auto 0);
    height: auto;
}
