a {
    font-family: "IBM Plex Mono", monospace;
    color: $primaryColor;

    &:hover,
    &:active {
        color: $secundaryColor;
        text-decoration: none;
    }

    &#_curriculum {
        @include font-size(1.1rem);
    }

    &#translate-btn {
        @include font-size(20px);
        position: absolute;
        top: 10px;
        right: 15px;
    }
}
