ul {
    padding: 0;
    list-style-type: none;

    &.work-links-list {
        @include font-size(1rem);
        white-space: normal;
        overflow: auto;
    }

    &.header-links-list {
        @include margin-top(10px);

        li {
            display: inline-block;
            letter-spacing: normal;
            font-weight: bold;
            @include font-size(1.5rem);
            @include margin-bottom(3px);
            @include margin-right(10px);
            @include padding-top(5px);
            @include padding-bottom(5px);
            @include padding-right(10px);
        }
    }

    &.bottom-links-list {
        li {
            display: block;
            letter-spacing: normal;
            @include font-size(1.1rem);
            @include margin-bottom(20px);
            @include margin-right(20px);

            i {
                @include margin-right(2px);
                @include rfs(3rem, width);
                @include rfs(3rem, height);
                svg {
                    @include padding(3px);
                    @include rfs(3rem, width);
                    @include rfs(3rem, height);
                }
            }

            img {
                @include margin-right(2px);
                @include padding(1px);
                @include rfs(3rem, width);
                @include rfs(3rem, height);
            }
        }
    }
}
