.skill {
    font-family: "IBM Plex Mono", monospace;
    background-color: white;
    display: inline-block;
    @include padding(0.2rem 1rem);
    @include margin(5px 5px);
    border-radius: 10px;
    color: $background;
    @include font-size(1rem);
    font-weight: bold;    
}

.skills-container {
    display: inline-block;
    border-left: 2px solid $secundaryColor;
    @include padding(10px);
    @include margin-top(10px);

    img {
        @include rfs(2rem, width);
        @include rfs(2rem, height);
    }
}