h1 {
    @include font-size(1.8rem);
    margin-bottom: 0;
    font-family: "IBM Plex Mono", monospace;
    color: $primaryColor;
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    @include font-size(1rem);
    @include margin-bottom(0.5rem);
    color: #EEEEEE;
}

h3 {
    font-family: "IBM Plex Mono", monospace;
    @include font-size(1.1rem);
    color: $primaryColor;
    @include font-size(16px);
}

.work-container {
    p {
        white-space: pre-line;
    }

    h3 {
        align-self: flex-end;
        text-transform: uppercase;
    }

    .work-header {
        span {
            font-family: "IBM Plex Mono", monospace;
            @include font-size(0.8rem);
            color: $primaryColor;
        }
    }
}

p {
    color: $primaryColor;
    @include font-size(1rem);
}

article {
    @include padding-top(4vh);

    &#sobre{
        @include padding-top(10vh);
    }

    h1 {
        font-weight: bold;
        @include margin-bottom(4vh);
    }
}

.presentation {
    @include padding(0em 1em 0em 1em);
    font-family: "IBM Plex Mono", monospace;
}
