h1 {
    @include font-size(1.8rem);
    margin-bottom: 0;
    font-family: "IBM Plex Mono", monospace;
    color: $primaryColor;
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    @include font-size(1rem);
    @include margin-bottom(0.5rem);
    color: $secundaryColor;
}

h3 {
    font-family: "IBM Plex Mono", monospace;
    @include font-size(1.2rem);
    color: $primaryColor;
}

.work-container {
    p {
        white-space: pre-line;
    }
    h3 {
        position: relative;
        left: 10px;
        //top: calc(0.6vw);
    }

    h4 {
        position: relative;
        left: 10px;
        font-family: "IBM Plex Mono", monospace;
        @include font-size(1rem);
        color: $primaryColor;
    }

    margin-bottom: 10px;
}

p {
    font-size: 1.1rem;
    color: $primaryColor;
}

article {
    @include padding-top(4vh);

    p {
        text-align: justify;
        float: left;
    }

    h1 {
        font-weight: bold;
        @include margin-bottom(4vh);
    }
}

.presentation {
    padding: 0em 1em 0em 1em;
    font-family: "IBM Plex Mono", monospace;
}
