h1 {
    @include font-size(1.8rem);
    margin-bottom: 0;
    font-family: "IBM Plex Mono", monospace;
    color: $primaryColor;
}

h2 {
    font-family: "IBM Plex Mono", monospace;
    @include font-size(1rem);
    @include margin-bottom(0.5rem);
    color: $secundaryColor;
}

h3 {
    @include font-size(1rem);
    color: $primaryColor;
}

article {
    @include margin-top(4vh);

    p {
        text-align: justify;
    }

    h1 {
        font-weight: bold;
        @include margin-bottom(4vh);
    }
}

.presentation {
    font-family: "IBM Plex Mono", monospace;
}
