.work-container {
    display: list-item;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 10px;
    max-height: 0;
    transition: max-height 0.2s ease-out;

    &.active {
        display: block;
        max-height: 200px;
    }
}