.work-container {
    display: list-item;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    margin-bottom: 15px;

    &.active {
        display: block;
        max-height: 100px;
    }
}