.work-container {
    display: list-item;
    overflow: hidden;
    @include margin-bottom(10px);
    @include margin-left(10px);
    max-height: 0;
    transition: max-height 0.2s ease-out;

    &.active {
        display: block;
        @include rfs(200px, max-height);
    }
}

.education-container {
    display: block;
    @include margin-top(1rem);
    @include padding-left(5px);
    border-left: 4px solid $primaryColor;

    p {
        @include margin-bottom(8px);
    }
}
