@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/utilities";

$background: #e2e2e2;
$primaryColor: #A81011;
$secundaryColor: #2f2f2f;

@font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 500;    
    src: url("./assets/fonts/IBMPlexMono-Medium.ttf") format("truetype")
}

html {
    height: 100%;
    width: 100%;
    padding: 0 1em;
    scroll-behavior: smooth;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

body {
    padding: 0 15px;
    font-family: 'Roboto', sans-serif;
    background-color: $background;
    border: 1px solid #000000ad;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

header {
    margin: 5vh 0;
    height: 90vh;
}

hr {
    margin-bottom: 10px;
    border: 1px dashed #788080;
}

footer {
    margin-bottom: 2.5vh;
    & p {
        margin: 0;
    }
}

a {
    font-family: 'IBM Plex Mono', monospace;
    color: $primaryColor;
    &:hover,
    &:active {
        color: $secundaryColor;
        text-decoration: none;
    }
}


ul {
    padding: 0;
    list-style-type: none;

    li {

        &:before{
        content: "⚫ ";
        padding: 0;
    }

        display: inline-block;
        letter-spacing: normal;
        font-size: 1.2rem;
        margin-bottom: 10px;  
        margin-right: 10px;  

        a {
            font-size: 1.3rem;
        }
    }
}

#header-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#avatar {
    margin-bottom: 0.5rem;
    border: 5px solid $primaryColor;
    max-width: 100%;
}

.fa-map-pin {
    margin-right: 10px;
    color: $primaryColor;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0;
    font-family: 'IBM Plex Mono', monospace;
    color: $secundaryColor;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: $secundaryColor;
}

h3 {
    font-size: 1rem;
    color: $secundaryColor;
}

h4 {
    font-size: 1.2rem;
}

div.social-media {
    margin-bottom: 1rem;
}

article {
    margin-top: 5vh;
    & h1 {
        margin-bottom: 0.5rem;
    }

    
}

.skill {
    background-color: white;
    display: inline-block;
    padding: 4px 20px;
    border: 2px solid $secundaryColor;
    border-radius: 15px;
    font-size: 0.8rem;      
    margin: 5px 2px;
    color: $primaryColor;

}

.skills-container {
    border-bottom: 1px dashed #788080;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1rem;
    }

    ul {
        li {
        margin: 0.5rem; 
            a {
            font-size: 1.3rem; 
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.2rem;
    }

    ul {
        li {
        margin: 0.5rem; 
            a {
            font-size: 1.5rem; 
            }
        }
    }
}