@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "~bootstrap/dist/css/bootstrap";

$background: rgb(237, 239, 237);

body {
    font-family: 'Roboto', sans-serif;
    background-color: $background;
}